<%- include('partials/header') %>

<%- include('partials/navbar1') %>




<div class="include">
  <h1>Your health is our first priority </h1>
  
  <P>We are <i>Expanding</i> Day by Day</P>
</div>
<h1 ></h1>



<div class = "include">
<%- include('card') %>

</div>

    <%- include('carousel') %>
  </div>
  
    <a class = "article" href="https://www.news-medical.net/"><h2 class = "pic" >Read top articles from health experts</h2></a>
 



<%- include('partials/footer') %>
